TASK_SEQUENCE_NODE/XMlSchema.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">


    <xsd:complexType name="Employee">
    	<xsd:sequence>
    		<xsd:element name="name" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="Emp" type="Employee"></xsd:element>

</xsd:schema>